<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="sec.css">
</head>
<body>

<form action="{{path('security_login')}}" method="POST">






		<section id="contact">
<div class="contact-container container">
<div class="contact-image">
<img src="restraunt-image.jpg">
    </div>

    <div class="form-container">
    <h2>Connexion</h2>

<input type="text" name="_username" placeholder="Adresse email......." required class="form-control">	

<input type="password" name="_password" placeholder="Mot_de_passe......." required class="form-control">	
<button type="submit" class="btn btn-primary">Connexion</button>



    </div>

</div>
</section>

<footer id="footer">
 <h2>Prestige  restauration  &copy; tous droits  reserves</h2> 
</footer>

</form>

</body>
</html>

  